# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle/

# other
eclipse
run

# Ignore generated class files
*.class

# Files from Forge MDK
forge*changelog.txt

src/main/java/items/
src/main/java/blocks/
src/main/resources/
assets/textures